<html>

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-toastr/2.1.1/angular-toastr.min.css" />
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" href="style.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.js"></script>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="scriptindex.js"></script>
	<title>Nhận diện nữ sinh Sư Phạm</title>
</head>

<body ng-app="app" ng-controller="mainCtrl">
	<div id="fb-root"></div>
	<script>(function (d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.11&appId=492581757793976';
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
	<div class="backgroundMenu ui fixed inverted menu">
		<div class="navbar">
			<a href="#trangchu">Trang Chủ</a>
			<a href="#congnghe">Công Nghệ</a>
			<a href="#ytuong">Ý Tưởng</a>
			<a href="#gioithieu">Giới Thiệu</a>
			<a href="#binhluan" class="navend">Bình Luận</a>
		</div>
	</div>
	<div class="ui container">
		<div class="ui container"></div>
		<h2 id="trangchu" class="logoText section ui horizontal header divider">TÌM KIẾM NỮ SINH</h2>
		<!-- Form để dán ảnh và submit -->
		<div class="ui form">
			<div class="ui two column centered grid selectField" ng-init="input.source = 'link'">
				<div class="field" ng-click="input.source = 'link'">
					<div class="ui radio checkbox">
						<input type="radio" name="source" ng-model="input.source" value="link" tabindex="0" class="hidden">
						<label for="link">Dán link</label>
					</div>
				</div>
				<div class="field" ng-click="input.source = 'file'">
					<div class="ui radio checkbox">
						<input type="radio" name="fruit" ng-model="input.source" value="file" tabindex="0" class="hidden">
						<label for="file">Up Ảnh</label>
					</div>
				</div>
			</div>
			<div class="field formText">
				<div ng-class="{loading: isLoading}" class="ui action input">
					<input type="text" ng-if="input.source == 'link'" ng-model="input.imageLink" placeholder="Link ảnh" />
					<input type="file" fileread="input.imageLink" ng-if="input.source == 'file'" placeholder="Upload ảnh" />
					<button ng-disabled="isLoading || !input.imageLink" ng-click="recognize()" class="ui icon primary button">
						<span ng-if="!isLoading">
							<i class="search icon"></i>Tìm Kiếm</span>
						<span ng-if="isLoading">
							<i class="spinner loading icon"></i>Đang tìm, đừng vội!</span>
					</button>
				</div>
			</div>
		</div>
		<br>
		<!-- Hiển thị ảnh của idol và kết quả nhận diện -->
		<div class="ui center aligned basic segment" ng-class="loadingClass" ng-if="!isLoading">
			<div class="section ui horizontal header resultLogo">Kết quả tìm kiếm</div>
			<div class="dataImage ui grid">
				<div class="source-image ten wide column">
					<img ng-if="input.imageLink" ng-src="{{input.imageLink}}" id="source-image" class="ui" />
					<div class="idol-face" ng-repeat="face in faceDisplay" ng-style="face.style">
						<p class="idol-name">{{face.name}}</p>
					</div>
				</div>
				<div class="ui cards four wide column">
					<div class="card" ng-repeat="face in faceDisplay">
						<div class="content">
							<div class="header center">
								{{face.name}}
							</div>
							<div class="meta">
								Sinh Viên Sư Phạm
							</div>
							<div class="description">
								Đây là {{face.name}} bạn có thể liên hệ với người ngày bằng cách click facebook.
							</div>
						</div>
						<div class="extra content">
							<div class="ui buttons field">
								<a href="https://facebook.com/{{face.facebook}}" target="_blank">
									<div class="ui blue button">Facebook</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<h2 id="congnghe" class="logoText section ui horizontal header divider">Công Nghệ</h2>
		<div id="technology">
			<table class="ui five column table celled">
				<thead>
					<tr>
						<th style="color:#003f7f">NodeJS</th>
						<th style="color:#003f7f">Webtask</th>
						<th style="color:#003f7f">Microsoft face API</th>
						<th style="color:#003f7f">GitHub</th>
						<th style="color:#003f7f">AngularJS</th>
					</tr>
				</thead>
				<tbody>
					<tr class="top aligned">
						<td>Sử dụng làm back-end cho trang web upload ảnh lên Face API của Microsoft
							<br/>
							<br/> Tài liệu tham khảo: <br/><a style="color:#1a426cde" href="https://www.w3schools.com/nodejs/"> https://www.w3schools.com/nodejs</a> <br/><a style="color:#1a426cde" href="https://learnnode.com/"> https://learnnode.com</a>
						</td>
						<td>Làm serverless Architecture lưu trữ code của trang web...
							<br/>
							<br/> Tài liệu tham khảo:<br/><a style="color:#1a426cde" href="http://webtask.io/"> http://webtask.io/<a/>
						</td>
						<td>Dịch vụ nhận diện khuôn mặt của microsoft.
							<br/>
							<br/> Tài liệu tham khảo: <br/><a style="color:#1a426cde" href="https://azure.microsoft.com/en-us/services/cognitive-services/face"> https://azure.microsoft.com/en-us/services/cognitive-services/face/<a/>
						</td>
						<td>Làm server để deploy trang web lên internet.<br />
							<br/> Tài liệu tham khảo:<br /><a style="color:#1a426cde" href="https://www.github.com"> https://www.github.com<a/>
						</td>
						<td>Sử dụng làm Front-end của trang web.
							<br/>
							<br/> Tài liệu tham khảo:<br /><a style="color:#1a426cde" href="http://angularjs.io"> http://angularjs.io/<a/><br /><a style="color:#1a426cde" href="https://www.w3schools.com/angular"> https://www.w3schools.com/angular/<a/><br /><a style="color:#1a426cde" href="http://www.learn-angular.org"> http://www.learn-angular.org/<a/>
							<br/>
							<br/>
							<br/>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<h2 id="ytuong" class="logoText section ui horizontal header divider">Ý Tưởng</h2>
		<div> <img src="https://i.imgur.com/63IIlie.png" alt="" width="100%" height="90%" /></div>
		<div>
			<h2 id="gioithieu" class="logoText section ui horizontal header divider">Giới thiệu</h2>
			<div class="ui attached message">
				<div class="header">
					Lý do chọn đề tài
				</div>
			</div>
			<form class="ui form attached fluid segment">
				<p>  Khi nói về web, chúng ta thường nghĩ về mô hình Client-server. Với mô hình client- server khi deploy,
				developer cần phải setup một server bao gồm Web server và database server, do đó có thể dẫn tới những hạn chế sau
				Khó khăn trong việc deploy, setup server. Tốn kém chi phí bảo trì server.
				Tuy nhiên ngày nay khi dịch vụ điện toán đám mây phát triển, thì có một cách tiếp cận mới để giải quyết vấn đề trên đó là sử dụng kiến trúc Serverless. Bạn chỉ cần đăng kí dịch vụ đối với nhà cung cấp, họ sẽ cung cấp và quản lý tài nguyên giúp bạn.
				Bạn chỉ việc viết code và không cần quan tâm đến việc deploy và cơ sở hạ tầng để chạy ứng dụng.<p/>
				<p>  Các công nghệ ứng dựng Machine Learning ngày càng phổ biến và hữu ích với con người, các công ty cong nghệ lớn hầu như đều sở hữu một dịch vụ ứng dựng công nghệ Machine Learing. Microsoft Face API là một trong các dịch vụ như vậy. <p>
				<p> Với mục đích là tìm hiểu các công nghệ điện toán đám mây, serverless, và dịch vụ Microsoft Face API, nhóm đã quyết định xây dựng ứng dụng "Nhận diện nữ sinh Sư Phạm".
				<br/>
			</form>
			<div class="ui attached message">
				<div class="header">
					Thành viên trong nhóm :
				</div>
			</div>
			<form class="ui form attached fluid segment">
				Giới thiệu về thành viên nhóm: nhóm gồm 5 thành viên :
				<ul>
					<li><a href="https://www.facebook.com/DVC.CNCT" >Đoàn Văn Cường.</a></li>
					<li><a href="https://www.facebook.com/khoan97?fref=ts">Huỳnh Đức Khoản.<a/></li>
					<li><a href="https://www.facebook.com/TheZapRok?fref=ts">Nguyễn Văn Hà.<a/></li>
					<li><a href="https://www.facebook.com/KhanhRooney?fref=ts">Võ Duy Khánh.<a/></li>
					<li><a href="https://www.facebook.com/minhvu.nguyen.5203?fref=ts">Nguyễn Minh Vũ.<a/> </li>
				</ul>
			</form>
			<div class="ui attached message">
				<div class="header">
					Giảng viên hướng dẫn: Ths.Nguyễn Thanh Tuấn
				</div>
			</div>
		</div>
		<h2 id="binhluan" class="logoText section ui horizontal header divider">Bình luận</h2>
		<div class="ui threaded comments">
			<div class="fb-comments" data-href="https://dvcctlt.github.io/Group7-idol/" data-numposts="5"></div>				
		</div>
	</div>
</body>

</html>
